@using CI_Platform_MVC.Entity.Models.ViewModel

@model MissionVM

<div id="grid-view">
           <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3  g-4" id="list"> 

           @foreach (var item in Model.Missions)
           {
               <div class="col mission-list">
                <div class="card h-100">
                    @*<div class="d-flex justify-content-end" style="background: url('/images/Grow-Trees-On-the-path-to-environment-sustainability.png') center center no-repeat content-box; background-size: cover; height: 200px">*@
                    <div class="d-flex justify-content-end" style="background: url(@item.MissionMedia.Where(u=>u.DefaultMissionMedia==1).First().MediaPath) center center no-repeat content-box; background-size: cover; height: 200px">
                    
                        <div class="mission-location" >
                            <img src="~/Images/pin.png" alt="" style="margin-right: 5px;"><span class="mission-location-city">@item.City.Name</span>
                        </div>
                        <div class="btn-group mission-buttons-List flex-column">
                            <div class="mission-like">
                             @{
                                       var favCount = item.FavoriteMissions.Where(u => u.UserId == Model.User.UserId).Count();
                                    if(favCount > 0)
                                   {
                                       <button class="like-btn-card like-card" ><img src="~/Images/heartred.png" alt="" style="height:20px;" value = "@item.MissionId @Model.User.UserId"></button>
                                   }
                                   else
                                   {
                                        <button class="like-btn-card like-card"><img src="~/Images/heart.png" alt="" style="height:20px;" value = "@item.MissionId @Model.User.UserId"></button>
                                   }
                             }
                                    
                            
                                
                            </div>
                            <div class="mission-seat">

                                <button data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><img src="~/Images/user.png" alt=""></button>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                       <div class="modal-content" style="height : 550px">
                                           <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Recommend to a Co-Worker</h5>
                                                 <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                         aria-label="Close">
                                                  </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">

                                                    @foreach (var user in Model.users)
                                                        {
                                                            <div class="volunteer-rec">
                                                                <div>
                                                                    <img src="~/Images/volunteer1.png" alt="" class="volunteer-rec-img">
                                                                    <p class="d-inline ms-1">@user.FirstName @user.LastName</p>
                                                                </div>
                                                            @{
                                                                var recCount = Model.Missions.Where(m => m.MissionId == @item.MissionId).First().MissionInvites.Where(u => u.ToUserId == @user.UserId && u.FromUserId == Model.User.UserId).Count();
                                                                if(recCount > 0)
                                                                {
                                                                    <button type="button" class="btn btn-outline-success rec-btn"  value="@Model.User.UserId @user.UserId @item.MissionId" ><img src="/Images/right.png" alt="">Recommended</button>
                                                                }
                                                                else
                                                                {
                                                                    <button type="button" class="btn btn-primary rec-btn"  value="@Model.User.UserId @user.UserId @item.MissionId" ><img
                                                                    src="~/Images/user.png" alt="">Recommend</button>
                                                                }
                                                             }
                                            
                                                            </div>
                                                        }

                                 
                                                </div>
                            
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">Save changes</button>
                                            </div>
                                       </div>
                                  </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mission-theme">
                            <p class="mission-theme-list">@item.Theme.Title</p>
                    </div>
                    @*<div class="mission-skill">
                            <p class="mission-skill-list">@item.</p>
                    </div>*@
                    <div class="card-body border-bottom">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.ShortDescription</p>
                        <div class="mission-organization">
                            <div>
                                <p>@item.OrganizationName</p>
                            </div>
                            <div>
                                @{
                                    var mrating = item.MissionRatings;
                                    var sum = 0;
                                    var avgRating = 0;
                                    foreach (MissionRating rating in mrating)
                                    {
                                        sum += rating.Rating;
                                    }
                                    if(sum > 0)
                                    {
                                        avgRating = sum/ mrating.Count();
                                    }
                                    else
                                    {
                                        avgRating = 0;
                                    }

                                    for(var i=1;i<=avgRating ; i++)
                                    {
                                        <img src="~/Images/selected-star.png" alt="">
                                    }
                                    for(var i=1;i<=(5 - avgRating) ; i++)
                                    {
                                        <img src="~/Images/star.png" alt="">
                                    }


                                }
@*                                <img src="~/Images/selected-star.png" alt="">
                                <img src="~/Images/selected-star.png" alt="">
                                <img src="~/Images/selected-star.png" alt="">
                                <img src="~/Images/selected-star.png" alt="">
                                <img src="~/Images/star.png" alt="">*@

                            </div>
                        </div>
                    </div>

                    @if(@item.MissionType == "TIME")
                    {
                        <div class="mission-theme">
                            <span>
                                From @item.StartDate.Value.ToShortDateString() until @item.EndDate.Value.ToShortDateString()
                            </span>
                        </div>
                    }
                    else
                    {
                        <div class="mission-theme">
                            <span>
                                Ongoing Opportunity
                            </span>
                        </div>
                    }


                    <div class="timestamp row card-body mt-4">
                        <div class="seats-left col d-inline-flex align-items-center">
                            <img src="~/Images/Seats-left.png" alt="">
                            <div class="p-1 ">
                                <p class="mb-0" style="font-size: 20px;"><strong>10</strong></p>
                                <p class="mb-0">Seats-left</p>
                            </div>
                        </div>
                        <div class="seats-left col d-inline-flex align-items-center">
                            <img src="~/Images/deadline.png" alt="">
                            <div class="p-1">
                                <p class="mb-0" style="font-size: 20px;"><strong> @((item.StartDate - TimeSpan.FromDays(1)).Value.ToShortDateString())  </strong></p>
                                <p class="mb-0">Deadline</p>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer text-center">
                        <form>
                            <button asp-controller="Mission" asp-action="Volunteering_Page" asp-route-id="@item.MissionId">Apply <span><img src="~/Images/right-arrow.png" alt=""></span></button>
                        </form>
                        
                    </div>
                </div>
            </div>
           }
             
            


            


        </div>

</div>