@using CI_Platform_MVC.Entity.Models.ViewModel

@model MissionVM
<div id="list-view" class="hide">

    <div id="list">

     @foreach (var item in Model.Missions)
     {
           <div class="card mb-4 mission-list" >
        
            <div class="row g-0 ">
                <div class="col-md-4">
                    <div class="d-flex justify-content-end" style="background: url('/images/Grow-Trees-On-the-path-to-environment-sustainability.png') center center no-repeat content-box; background-size: cover; height: 200px">
                    
                        <div class="mission-location-list" >
                            <img src="~/Images/pin.png" alt="" style="margin-right: 5px;"><span>@item.City.Name</span>
                        </div>
                        <div class="btn-group mission-buttons-List flex-column">
                            <div class="mission-like">

                                <button class="like-btn-card"><img src="~/Images/heart.png" alt="" style="height:20px;"></button>
                            </div>
                            <div class="mission-seat">

                                <button data-bs-toggle="modal"
                                data-bs-target="#exampleModal"><img src="~/Images/user.png" alt=""></button>
                            </div>
                        </div>
                        
                    </div>
                    <div class="mission-theme">
                            <p>@item.Theme.Title</p>
                    </div>
                    
           
                </div>
                   
             <div class="col-md-8">
                    <div class="card-body">
                        <div class="row">
                             <div class="col-9 d-flex">
                              <div class="me-2"><img src="~/Images/pin1.png" class="me-1"><p class="d-inline">@item.City.Name</p></div>
                            <div class="me-2 "><img src="~/Images/web.png" class="me-1"><p class="d-inline">@item.Theme.Title</p></div>
                            <div class="me-2 "><img src="~/Images/organization.png" class="me-1"><p class="d-inline">@item.OrganizationName</p></div>
                             </div>
                             <div class="col-3" >
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/selected-star.png" alt="">
                                        <img src="~/Images/star.png" alt="">
        
                                    </div>
                         </div>
                        <div class="row mt-3">
                            <div class="col">

                                <h5 class="card-title">@item.Title
                                </h5>
                                <p class="card-text">@item.ShortDescription</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            
                                <div class="d-flex" style="justify-content:space-between">
                                    
                                        <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/Seats-left.png" alt="">
                                        <div class="p-1 ">
                                            <p class="mb-0" style="font-size: 15px;"><strong>10</strong></p>
                                            <p class="mb-0">SeatsLeft</p>
                                        </div>
                                    </div>
                                    <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/deadline.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 15px;"><strong>@((item.StartDate - TimeSpan.FromDays(1)).Value.ToShortDateString())</strong></p>
                                            <p class="mb-0">Deadline</p>
                                        </div>
                                    </div>
                                    
                                    
                                         <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/calender.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 15px;">From @item.StartDate.Value.ToShortDateString()</p>
                                            <p class="mb-0">Until @item.EndDate.Value.ToShortDateString()</p>
                                        </div>
                                    </div>
                                    <div class="seats-left d-inline-flex align-items-center">
                                        <img src="~/Images/achieved.png" alt="">
                                        <div class="p-1">
                                            <p class="mb-0" style="font-size: 15px;">Skills</p>
                                            <p class="mb-0">TeachingEnglish</p>
                                        </div>
                                    </div>
                                    <div class="card-button">
                                                            <button>Apply <span><img src="~/Images/right-arrow.png" alt=""></span></button>
                                                        </div>

                                   
            
                                </div>


                                
                                
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>   
     }


    </div>


</div>