@using CI_Platform_MVC.Entity.Models.ViewModel

@model MissionVM
<div class="modal fade" id="exampleModalRating" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content" style="height : 300px">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rate the Mission</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container">

                                   
                                        
                                        <div class="d-flex justify-content-around">

                                            <button class="rating-btn starbtn"><img src="~/Images/star-empty.png" alt="" value = "1 @Model.Mission.MissionId @Model.User.UserId"></button>
                                            <button class="rating-btn starbtn"><img src="~/Images/star-empty.png" alt="" value = "2 @Model.Mission.MissionId @Model.User.UserId"></button>
                                            <button class="rating-btn starbtn"><img src="~/Images/star-empty.png" alt="" value = "3 @Model.Mission.MissionId @Model.User.UserId"></button>
                                            <button class="rating-btn starbtn"><img src="~/Images/star-empty.png" alt="" value = "4 @Model.Mission.MissionId @Model.User.UserId"></button>
                                            <button class="rating-btn starbtn"><img src="~/Images/star-empty.png" alt="" value = "5 @Model.Mission.MissionId @Model.User.UserId"></button>

                                            
                                        </div>

                                    
                            </div>
                            
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
           </div>
</div>
</div>